.searchqueries {
  margin-top: 4rem;

  p {
    font-weight: 300;
    word-spacing: 7px;
    letter-spacing: 0.5px;
  }

  a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: all 1s;

    &:hover {
      color: #93969b;
      transform: translateY(-2px);
    }
  }
}

@media only screen and (max-width: 450px) {
  p {
    text-align: center;
    padding: 0 1rem;
  }
}
